* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    font-family: cursive;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    font-family: cursive;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.hero {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    height: 120px;
    color: white;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: navy;
}

.hero h2 {
    font-family: monospace;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: text-bottom;
    margin-top: 40px;
}

.intro h2 {
    font-size: 75px;
    margin-bottom: 40px;
    padding: 0 100px 20px 100px;
    border-bottom: 5px solid;
    border-color: white;
    display: inline-block;
}

.intro p {
    line-height: 2.0;
    width: 80%;
    font-size: 25px;
    margin: 0 auto;
    display: inline-block;
}

.work h2 {
    padding: 0 100px 20px 100px;
    margin-bottom: 125px;
    border-color: white;
    font-size: 75px;
    display: inline-block;
    border-bottom: 5px solid;
    margin-top: 75px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    }

.surf {
    width: 100%;
    height: 900px;
    margin-bottom: 2%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    flex-direction: row;
    min-height: 100%;
}

.boxes > img {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}
