* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */

header {
    padding: 20px 35px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* end header styles */

/* hero styles */

.hero {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    height: 120px;
    color: white;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: navy;
}

.hero h2 {
    font-family: monospace;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: text-bottom;
    margin-top: 40px;
}

/* end hero styles */

/* about me styles */

.intro h2 {
    font-size: 75px;
    margin-bottom: 40px;
    padding: 0 100px 20px 100px;
    border-bottom: 5px solid;
    border-color: white;
    display: inline-block;
}

.intro p {
    line-height: 2.0;
    width: 80%;
    font-size: 25px;
    margin: 0 auto;
    display: inline-block;
}

.about-me-img {
    width: 20%;
    float: left;
    padding: 2%;
}

/* end about me styles */

/* work styles */

.work h2 {
    padding: 0 100px 20px 100px;
    margin-bottom: 125px;
    border-color: white;
    font-size: 75px;
    display: inline-block;
    border-bottom: 5px solid;
    margin-top: 75px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    }

.surf {
    width: 100%;
    height: 500px;
    margin-bottom: 2%;
}

.boxes {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 5%;
    flex-direction: row;
    min-height: 100%;
}

.boxes > img {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}

.container {
    position: relative;
    color:white;
    width: cover;
    display:block;
}

.container:hover {
    cursor:pointer;
    color:#fff490;
}

.overlay{
    display:none;
    text-align: center;
}

.info-container {
    background:#1d1f21;
    position:relative;
    color:white;
    width:cover;
    display:block;
    top:-25px;
    font-size: 2vw;
}

.container:hover .overlay {
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: #1d1f21;
    border-radius: 5px;
    width:100%;
    height:100%;
    opacity:0.95;
}

h3.responsive-title {
    font-size:10px;
    text-align:center;
}

.overlay-content {
    font-size: 5rem;
}

.LED {
    width: 100%;
    height: 500px;
    margin-bottom: 2%;
}

.LED:hover {
    cursor:pointer;
    color:#fff490;
}

.overlay-LED{
    display:none;
    text-align: center;
}

.info-container-LED {
    background:#1d1f21;
    position:relative;
    color:white;
    width:cover;
    display:block;
    top:-25px;
    font-size: 2vw;
}

.LED-container:hover .overlay {
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: #1d1f21;
    border-radius: 5px;
    width:100%;
    height:100%;
    opacity:0.95;
}

.overlay-LED-content {
    font-size: 5rem;
}

.calc {
    width: 100%;
    height: 500px;
    margin-bottom: 2%;
}

.calc:hover {
    cursor:pointer;
    color:#fff490;
}

.overlay-calculator{
    display:none;
    text-align: center;
}

.info-container-calculator {
    background:#1d1f21;
    position:relative;
    color:white;
    width:500px;
    display:block;
    top:-25px;
    font-size: 2vw;
}

.calc-container:hover .overlay {
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: #1d1f21;
    border-radius: 5px;
    width:100%;
    height:100%;
    opacity:0.95;
}

.overlay-calculator-content {
    font-size: 5rem;
}

.puzzels {
    width: 500px;
    height: 500px;
    margin-bottom: 2%;
}

.puzzels:hover {
    cursor:pointer;
    color:#fff490;
}

.overlay-puzzels{
    display:none;
    text-align: center;
}

.info-container-puzzels {
    background:#1d1f21;
    position:relative;
    color:white;
    width:500px;
    display:block;
    top:-25px;
    font-size: 2vw;
}

.puzzels-container:hover .overlay {
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: #1d1f21;
    border-radius: 5px;
    width:100%;
    height:100%;
    opacity:0.95;
}

.overlay-puzzels-content {
    font-size: 5rem;
}

.fitness {
    width: 500px;
    height: 500px;
    margin-bottom: 2%;
}

.fitness:hover {
    cursor:pointer;
    color:#fff490;
}

.overlay-fitness{
    display:none;
    text-align: center;
}

.info-container-fitness {
    background:#1d1f21;
    position:relative;
    color:white;
    width:500px;
    display:block;
    top:-25px;
    font-size: 2vw;
}

.fitness-container:hover .overlay {
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: #1d1f21;
    border-radius: 5px;
    width:100%;
    height:100%;
    opacity:0.95;
}

.overlay-fitness-content {
    font-size: 5rem;
}

/* end work styles */

/* footer styles */

footer {
        padding: 20px 35px;
        background-color: navy;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer h2 {
        font-weight: bold;
        font-size: 100px;
        color: white;
        margin: 0;
           font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
           margin-bottom: 2%;
    }
    
    footer u {
        color: white;
        text-decoration: underline;
        margin: 7px 0;
    }

    footer ul li u {
        margin: 0 30px;
        font-weight: lighter;
        font-size: 3vw;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    
    /* end footer styles */

    /* media screen responsiveness */

    @media screen and (max-width: 1024px) {
        #hero {
            width: 100%;
            height: 50%;
        }
    }

    @media screen and (max-width: 768px) {
        #hero {
            width: 100%;
            height: 50%;
        }
    }

    @media screen and (max-width: 600px) {
        #hero {
            width: 100%;
            height: 50%;
        }
    }

    @media screen and (max-width: 480px) {
        #hero {
            width: 100%;
            height: 50%;
        }
    }

    @media screen and (max-width: 300px) {
        #hero {
            width: 100%;
            height: 50%;
             }
    }

    /* end media screen responsiveness */


















